Repository tubone24/blog, changes with the labels that .github/labeler.yml gives for each.
All labels: src, content, scripts, functions, cypress, terraform, memlab, readme, packages

deploy: e0733fcd14f1aac1f6bdec99b2657fea64340de8
  ba/index.html
Labels: none

deploy: e0733fcd14f1aac1f6bdec99b2657fea64340de8
  lh/report.html
Labels: none

deploy: 273fb6e2df0529ea708b39e5faf91a4e82983d8d
  ba/index.html
Labels: none

deploy: 273fb6e2df0529ea708b39e5faf91a4e82983d8d
  lh/report.html
Labels: none

add test
  src/components/SEO/index.spec.tsx
  src/components/Sidebar/Archive/index.spec.tsx
Labels: src

add test
  src/components/SEO/index.spec.tsx
Labels: src

[skip netlify]add test
  src/components/SEO/index.spec.tsx
Labels: src

deploy: 87e164d44932ad6be354b65a976c94b19675dc21
  ba/index.html
Labels: none

[skip netlify]add test
  serve.json
Labels: none

deploy: 87e164d44932ad6be354b65a976c94b19675dc21
  lh/report.html
Labels: none

deploy: d277c1a63c7582c62865dfa733f80d75dc06df46
  ba/index.html
Labels: none

deploy: d277c1a63c7582c62865dfa733f80d75dc06df46
  lh/report.html
Labels: none

deploy: d277c1a63c7582c62865dfa733f80d75dc06df46
  owasp/report.html
Labels: none

add csp headers
  .devcontainer/Dockerfile
  gatsby-config.js
Labels: none

add csp headers
  gatsby-config.js
Labels: none

add csp headers
  gatsby-config.js
  netlify.toml
  package.json
  yarn.lock
Labels: packages

add csp headers
  gatsby-config.js
  netlify.toml
  package.json
  yarn.lock
Labels: packages

add csp headers
  gatsby-config.js
Labels: none

add csp headers
  gatsby-config.js
Labels: none

add csp headers
  gatsby-config.js
Labels: none

add csp headers
  gatsby-config.js
Labels: none

add csp headers
  gatsby-config.js
Labels: none

add csp headers
  gatsby-config.js
Labels: none

fix
  gatsby-config.js
Labels: none

updatre
  package.json
  yarn.lock
Labels: packages

deploy: 60106a0c750242826ceae31a8f6944bfd6a392e5
  ba/index.html
Labels: none

deploy: 60106a0c750242826ceae31a8f6944bfd6a392e5
  lh/report.html
Labels: none

fix
  src/content/2021-02-13-netlifyのビルド時間をgithub-actionsで0時間にして月末のヒヤヒヤから解放されよう！.md
  src/content/2021-11-23-depcheckをgithub-actionで使い、prコメントに結果を出力させる.md
  src/content/2021-12-31-今年も最後だからblogのbootstrap-v3を何とかする.md
  src/content/2023-01-01-2023年版このブログを支える技術.md
Labels: src, content

deploy: a02793ba6d77daa28a883258352ab5fce1fdcd25
  ba/index.html
Labels: none

deploy: a02793ba6d77daa28a883258352ab5fce1fdcd25
  lh/report.html
Labels: none

deploy: 07ffc222ba6af58c8dab03f79b1c383eb821b9b6
  ba/index.html
Labels: none

deploy: 07ffc222ba6af58c8dab03f79b1c383eb821b9b6
  lh/report.html
Labels: none

deploy: 4f75f8b9016a16c1e23737269ed285ca3808a2bc
  ba/index.html
Labels: none

deploy: 4f75f8b9016a16c1e23737269ed285ca3808a2bc
  lh/report.html
Labels: none

deploy: daa58646cb8f381dff69199e2f0e323b59d0e9c8
  ba/index.html
Labels: none

deploy: daa58646cb8f381dff69199e2f0e323b59d0e9c8
  lh/report.html
Labels: none

containerテスト
  .github/workflows/snyk.yml
  src/content/2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
Labels: src, content

synk使いすぎなので絞った
  .github/workflows/depcheck.yml
  .github/workflows/previewDeploy.yml
  .github/workflows/snyk.yml
Labels: none

Create Blog “2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断”
  src/content/2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
Labels: src, content

Update 2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
  src/content/2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
Labels: src, content

.github/labeler.yml:

src:
  - src/**/*
content:
  - src/content/**/*
scripts:
  - scripts/**/*
functions:
  - functions/**/*
cypress:
  - cypress/**/*
terraform:
  - terraform/**/*
memlab:
  - test/memlab/**/*
readme:
  - README.md
packages:
  - package.json
  - yarn.lock
