Repository tubone24/blog, changes with the labels that .github/labeler.yml gives for each.
All labels: src, content, scripts, functions, cypress, terraform, memlab, readme, packages

.github/labeler.yml:

src:
  - src/**/*
content:
  - src/content/**/*
scripts:
  - scripts/**/*
functions:
  - functions/**/*
cypress:
  - cypress/**/*
terraform:
  - terraform/**/*
memlab:
  - test/memlab/**/*
readme:
  - README.md
packages:
  - package.json
  - yarn.lock

deploy: 844f35b5609fb88bd32e2e396047a396de93378c
  ba/index.html
Labels: none

deploy: 844f35b5609fb88bd32e2e396047a396de93378c
  lh/report.html
Labels: none

[skip netlify] owaspzap
  .github/workflows/owaspzap.yml
Labels: none

deploy: fca794a9bc31cd564409d9d8a0bce99ee9bfe78c
  ba/index.html
Labels: none

deploy: fca794a9bc31cd564409d9d8a0bce99ee9bfe78c
  lh/report.html
Labels: none

[skip netlify] owaspzap
  .dockerignore
  .github/workflows/owaspzap.yml
  owasp/Dockerfile
  owasp/docker-compose-ci.yml
  owasp/docker-compose.yml
Labels: none

[skip netlify] owaspzap
  .github/workflows/owaspzap.yml
Labels: none

[skip netlify] not tty
  owasp/docker-compose-ci.yml
Labels: none

[skip netlify] not tty
  owasp/docker-compose-ci.yml
Labels: none

[skip netlify] not tty
  owasp/docker-compose-ci.yml
Labels: none

Update docker-compose-ci.yml
  owasp/docker-compose-ci.yml
Labels: none

Update owaspzap.yml
  .github/workflows/owaspzap.yml
Labels: none

gitkeep
  owasp/zap/.gitkeep
Labels: none

[skip netlify] not tty
  .github/workflows/owaspzap.yml
Labels: none

[skip netlify] not tty
  .github/workflows/owaspzap.yml
Labels: none

[skip netlify] not tty
  .github/workflows/owaspzap.yml
Labels: none

[skip netlify] not tty
  .github/workflows/owaspzap.yml
  .github/workflows/previewDeploy.yml
Labels: none

[skip netlify] snyk
  .github/workflows/previewDeploy.yml
Labels: none

[skip netlify] snyk
  .github/workflows/previewDeploy.yml
Labels: none

[skip netlify] snyk
  .github/workflows/previewDeploy.yml
Labels: none

[skip netlify] snyk
  .github/workflows/deploy.yml
  .github/workflows/owaspzap.yml
  .github/workflows/previewDeploy.yml
Labels: none

[skip netlify] deploy report
  .github/workflows/owaspzap.yml
  owasp/docker-compose-ci.yml
Labels: none

[skip netlify] deploy report
  .github/workflows/owaspzap.yml
Labels: none

Add CSP
  src/html.tsx
  static/_headers
Labels: src

Add CSP
  .gitignore
Labels: none

webscreenshot
  .github/workflows/owaspzap.yml
  .github/workflows/previewDeploy.yml
Labels: none

meta csp
  src/html.tsx
  static/_headers
Labels: src

meta csp
  src/html.tsx
Labels: src

meta csp
  static/_headers
Labels: none

meta csp
  static/_headers
Labels: none

meta csp
  static/_headers
Labels: none

meta csp
  static/_redirects
Labels: none

meta csp
  .github/workflows/owaspzap.yml
Labels: none

meta csp
  .github/workflows/previewDeploy.yml
Labels: none

meta csp
  .github/workflows/owaspzap.yml
  README.md
Labels: readme

deploy: 216109707274666ca188c63beb4199028fdb5aef
  owasp/.gitkeep
  owasp/report.html
Labels: none

meta csp
  .github/workflows/owaspzap.yml
  README.md
Labels: readme

Create Blog “2022-12-31-コマンドを間違えたらそこで試合終了！-suicide-linuxで遊んでいたら5秒ももたなかった話”
  src/content/2022-12-31-コマンドを間違えたらそこで試合終了！-suicide-linuxで遊んでいたら5秒ももたなかった話.md
Labels: src, content

deploy: ff83eeb3443e814274b9ae785fb9a272b8ec585a
  .nojekyll
  ba/index.html
Labels: none

deploy: ff83eeb3443e814274b9ae785fb9a272b8ec585a
  lh/report.html
Labels: none
