Repository tubone24/blog, changes with the labels that .github/labeler.yml gives for each.
All labels: src, content, scripts, functions, cypress, terraform, memlab, readme, packages

hotfix storybook
  src/html.tsx
  static/_headers
Labels: src

deploy: d49318a88b59490345338e6af86c24a804866965
  ba/index.html
Labels: none

deploy: d49318a88b59490345338e6af86c24a804866965
  lh/report.html
Labels: none

WIP
  src/content/2022-12-31-コマンドを間違えたらそこで試合終了！-suicide-linuxで遊んでいたら5秒ももたなかった話.md
Labels: src, content

hotfix storybook
  src/html.tsx
Labels: src

hotfix storybook
  static/_headers
Labels: none

hotfix storybook
  static/_headers
Labels: none

deploy: 5a7ec61cd30c0916e66a3600e0d5737cfd27611b
  ba/index.html
Labels: none

deploy: 91254b95a7830ee5171ed9e3141a40bdac50ce3e
  ba/index.html
Labels: none

deploy: 5a7ec61cd30c0916e66a3600e0d5737cfd27611b
  lh/report.html
Labels: none

deploy: 91254b95a7830ee5171ed9e3141a40bdac50ce3e
  lh/report.html
Labels: none

deploy: 438d5eed690f8f40fa8d1a3bd1853b7369c6800b
  ba/index.html
Labels: none

deploy: 438d5eed690f8f40fa8d1a3bd1853b7369c6800b
  lh/report.html
Labels: none

hotfix storybook
  static/_headers
Labels: none

ad
  src/content/2022-12-31-コマンドを間違えたらそこで試合終了！-suicide-linuxで遊んでいたら5秒ももたなかった話.md
Labels: src, content

deploy: d9752f4f380dbe301ca7b6397547cfc51df3fe4b
  ba/index.html
Labels: none

deploy: d9752f4f380dbe301ca7b6397547cfc51df3fe4b
  lh/report.html
Labels: none

fix
  src/content/2022-12-31-コマンドを間違えたらそこで試合終了！-suicide-linuxで遊んでいたら5秒ももたなかった話.md
Labels: src, content

fix
  src/content/2022-12-31-コマンドを間違えたらそこで試合終了！-suicide-linuxで遊んでいたら5秒ももたなかった話.md
Labels: src, content

fix
  src/content/2022-12-31-コマンドを間違えたらそこで試合終了！-suicide-linuxで遊んでいたら5秒ももたなかった話.md
Labels: src, content

dev container base image
  .devcontainer/Dockerfile_base
  .github/workflows/build_devcontainer_base_image.yml
Labels: none

deploy: a1243ca94283205a860e2def9d1c037e82722a98
  ba/index.html
Labels: none

deploy: a1243ca94283205a860e2def9d1c037e82722a98
  lh/report.html
Labels: none

dev container base image
  .devcontainer/Dockerfile
  .github/workflows/build_devcontainer_base_image.yml
Labels: none

deploy: b0f446b31a9c05ff68b98c3e0f4051a8dc61d67b
  ba/index.html
Labels: none

deploy: b0f446b31a9c05ff68b98c3e0f4051a8dc61d67b
  lh/report.html
Labels: none

deploy: d622092ccdbae680cb79595578200bf16850310a
  ba/index.html
Labels: none

deploy: d622092ccdbae680cb79595578200bf16850310a
  lh/report.html
Labels: none

csp
  src/html.tsx
  static/_headers
Labels: src

deploy: ff83eeb3443e814274b9ae785fb9a272b8ec585a
  owasp/.gitkeep
  owasp/report.html
Labels: none

csp
  .github/workflows/previewDeploy.yml
Labels: none

csp
  .github/workflows/deploy.yml
Labels: none

deploy: 6a909604082574d036fce3a8f176a1bb48548f7d
  ba/index.html
Labels: none

deploy: 6a909604082574d036fce3a8f176a1bb48548f7d
  lh/report.html
Labels: none

Create Blog “2023-01-01-2023年版このブログを支える技術”
  src/content/2023-01-01-2023年版このブログを支える技術.md
Labels: src, content

fix
  .devcontainer/Dockerfile
  __snapshots__/storybook.test.ts.snap
Labels: none

deploy: a1be79c446560ba92f7410a773f68a15eeb624ea
  ba/index.html
Labels: none

deploy: a1be79c446560ba92f7410a773f68a15eeb624ea
  lh/report.html
Labels: none

fix
  gatsby-config.js
  src/content/2023-01-01-2023年版このブログを支える技術.md
Labels: src, content

fix
  .devcontainer/Dockerfile
  __snapshots__/storybook.test.ts.snap
Labels: none

.github/labeler.yml:

src:
  - src/**/*
content:
  - src/content/**/*
scripts:
  - scripts/**/*
functions:
  - functions/**/*
cypress:
  - cypress/**/*
terraform:
  - terraform/**/*
memlab:
  - test/memlab/**/*
readme:
  - README.md
packages:
  - package.json
  - yarn.lock
