Repository tubone24/blog, changes with the labels that .github/labeler.yml gives for each.
All labels: src, content, scripts, functions, cypress, terraform, memlab, readme, packages

deploy: 58d7b669be6b99d8118331fb52035541dee91632
  lh/report.html
Labels: none

wip
  src/components/Footer/index.tsx
  src/html.tsx
Labels: src

deploy: a3afc7f96e0a084f4b5eaae39ea01cab264a16a2
  ba/index.html
Labels: none

deploy: a3afc7f96e0a084f4b5eaae39ea01cab264a16a2
  lh/report.html
Labels: none

wip
  src/components/Footer/index.tsx
Labels: src

wip
  __snapshots__/storybook.test.ts.snap
Labels: none

wip
  .github/workflows/previewDeploy.yml
Labels: none

wip
  .github/workflows/previewDeploy.yml
Labels: none

deploy: 0762dab92333bb6ea639208ae2dc393356992a03
  ba/index.html
Labels: none

deploy: 0762dab92333bb6ea639208ae2dc393356992a03
  lh/report.html
Labels: none

revert
  __snapshots__/storybook.test.ts.snap
  src/components/Footer/index.tsx
  src/html.tsx
Labels: src

deploy: 192d41e781f419a1ab124ad502b084fd2166ff5a
  ba/index.html
Labels: none

deploy: 192d41e781f419a1ab124ad502b084fd2166ff5a
  lh/report.html
Labels: none

deploy: d15ff0d525aa1a909d7744111d4789f2334440cd
  ba/index.html
Labels: none

deploy: d15ff0d525aa1a909d7744111d4789f2334440cd
  lh/report.html
Labels: none

add filter
  .github/workflows/owaspzap.yml
  owasp/zap/alertFilter.conf
Labels: none

add filter
  owasp/docker-compose.yml
  owasp/zap/alertFilter.conf
Labels: none

add filter
  .github/workflows/owaspzap.yml
Labels: none

add filter
  .github/workflows/owaspzap.yml
Labels: none

[skip netlify]add filter
  owasp/zapHome/.gitkeep
Labels: none

[skip netlify]add filter
  .gitignore
Labels: none

[skip netlify]add filter
  .gitignore
Labels: none

deploy: 0b64e1a70c822f97dbde9e70017b6637d3afd0ad
  owasp/.gitkeep
  owasp/alertFilter.conf
  owasp/report.html
Labels: none

deploy: 44a13d2b3b8da564f2e4ee06ea194b6f2c60b39d
  owasp/.gitkeep
  owasp/alertFilter.conf
  owasp/report.html
Labels: none

deploy: f318b9ab508231d47c3236c196b792175ecfd44f
  ba/index.html
Labels: none

deploy: f318b9ab508231d47c3236c196b792175ecfd44f
  lh/report.html
Labels: none

[skip netlify]add filter
  owasp/zap/alertFilter.conf
Labels: none

[skip netlify]add filter
  .gitignore
Labels: none

[skip netlify]add filter
  functions/src/csp-report.js
Labels: functions

deploy: 3a59578b8ab90529eb6943627e74dca49df6ecd3
  owasp/.gitkeep
  owasp/alertFilter.conf
  owasp/report.html
Labels: none

add filter
  .eslintignore
  .github/workflows/previewDeploy.yml
Labels: none

add filter
  scripts/uploadScreenShot.ts
Labels: scripts

add filter
  .eslintignore
Labels: none

add filter
  .github/workflows/previewDeploy.yml
Labels: none

deploy: d15ff0d525aa1a909d7744111d4789f2334440cd
  owasp/.gitkeep
  owasp/report.html
Labels: none

add filter
  .github/workflows/previewDeploy.yml
Labels: none

[skip netlify]add filter
  .github/workflows/previewDeploy.yml
Labels: none

[skip netlify]add filter
  .github/workflows/previewDeploy.yml
Labels: none

[skip netlify]add filter
  .github/workflows/previewDeploy.yml
  file-uploader/screenshot-ubuntu-latest-1200.png
  file-uploader/screenshot-ubuntu-latest-600.png
  file-uploader/screenshot-ubuntu-latest-768.png
  file-uploader/screenshot-ubuntu-latest-992.png
  scripts/uploadScreenShot.ts
Labels: scripts

[skip netlify]add filter
  .github/workflows/previewDeploy.yml
Labels: none

.github/labeler.yml:

src:
  - src/**/*
content:
  - src/content/**/*
scripts:
  - scripts/**/*
functions:
  - functions/**/*
cypress:
  - cypress/**/*
terraform:
  - terraform/**/*
memlab:
  - test/memlab/**/*
readme:
  - README.md
packages:
  - package.json
  - yarn.lock
