Repository tubone24/blog, changes with the labels that .github/labeler.yml gives for each.
All labels: src, content, scripts, functions, cypress, terraform, memlab, readme, packages

.github/labeler.yml:

src:
  - src/**/*
content:
  - src/content/**/*
scripts:
  - scripts/**/*
functions:
  - functions/**/*
cypress:
  - cypress/**/*
terraform:
  - terraform/**/*
memlab:
  - test/memlab/**/*
readme:
  - README.md
packages:
  - package.json
  - yarn.lock

Update 2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
  src/content/2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
Labels: src, content

containerテスト
  .github/workflows/snyk.yml
  src/content/2021-11-23-depcheckをgithub-actionで使い、prコメントに結果を出力させる.md
Labels: src, content

[skip netlify] containerテスト
  test/memlab/testMemleak.js
Labels: memlab

[skip netlify] containerテスト
  .github/workflows/snyk.yml
Labels: none

[skip netlify] containerテスト
  .github/workflows/snyk.yml
  src/content/2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
Labels: src, content

containerテスト
  .github/workflows/snyk.yml
Labels: none

[skip netlify] WIP
  src/content/2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
  test/memlab/testMemleak.js
Labels: src, content, memlab

containerテスト
  .github/workflows/snyk.yml
Labels: none

[skip netlify] WIP
  src/content/2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
Labels: src, content

[skip netlify] WIP
  src/config/index.json
  src/content/2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
  src/templates/index.tsx
Labels: src, content

[skip netlify] WIP
  src/content/2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
  src/templates/index.tsx
Labels: src, content

[skip netlify] WIP
  src/content/2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
Labels: src, content

update
  package.json
  yarn.lock
Labels: packages

[skip netlify] WIP
  src/content/2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
Labels: src, content

[skip netlify] WIP
  src/content/2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
Labels: src, content

WIP
  package.json
  src/content/2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
  yarn.lock
Labels: src, content, packages

[skip netlify] WIP
  .github/workflows/owaspzap.yml
  src/content/2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
Labels: src, content

Update 2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
  src/content/2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
Labels: src, content

deploy: 7515f96e4203542901ade40594c575f9b0fe6a6f
  owasp/report.html
Labels: none

[skip netlify] WIP
  .github/workflows/owaspzap.yml
  src/content/2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
Labels: src, content

[skip netlify] WIP
  .github/workflows/owaspzap.yml
Labels: none

deploy: 2d72dc647a5de0533214f2b78d888206a4c526bd
  owasp/report.html
Labels: none

WIP
  src/content/2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
Labels: src, content

OK
  src/content/2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
Labels: src, content

OK
  src/content/2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
Labels: src, content

OK
  src/content/2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
Labels: src, content

OK
  src/content/2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
Labels: src, content

OK
  src/components/Content/index.module.scss
Labels: src

OK
  src/content/2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
Labels: src, content

OK
  src/content/2023-01-03-2023年版このブログを支える技術その2-owasp-zap-snykでお金をかけない脆弱性診断.md
Labels: src, content

deploy: 7c13bcd5bb988417e52d87326ae423c9f452adf9
  ba/index.html
Labels: none

deploy: 7c13bcd5bb988417e52d87326ae423c9f452adf9
  lh/report.html
Labels: none

deploy: 20e90a9aa8f716f7c0d851826b79fc5d49470f4d
  ba/index.html
Labels: none

deploy: 20e90a9aa8f716f7c0d851826b79fc5d49470f4d
  lh/report.html
Labels: none

OK
  .github/workflows/previewDeploy.yml
Labels: none

OK
  .github/workflows/previewDeploy.yml
Labels: none

OK
  .github/workflows/previewDeploy.yml
Labels: none

fix
  package.json
  yarn.lock
Labels: packages

OK
  .textlintrc
Labels: none

deploy: 58d7b669be6b99d8118331fb52035541dee91632
  ba/index.html
Labels: none
