Repository tubone24/blog, changes with the labels that .github/labeler.yml gives for each.
All labels: src, content, scripts, functions, cypress, terraform, memlab, readme, packages

fix
  gatsby-config.js
  src/content/2023-01-01-2023年版このブログを支える技術.md
Labels: src, content

fix
  gatsby-config.js
Labels: none

fix
  gatsby-config.js
  package.json
  yarn.lock
Labels: packages

fix
  .github/workflows/deploy.yml
  .github/workflows/previewDeploy.yml
  gatsby-config.js
  src/content/2023-01-01-2023年版このブログを支える技術.md
  static/_headers
Labels: src, content

add
  src/content/2023-01-01-2023年版このブログを支える技術.md
Labels: src, content

add
  src/content/2023-01-01-2023年版このブログを支える技術.md
Labels: src, content

add
  src/content/2023-01-01-2023年版このブログを支える技術.md
Labels: src, content

add
  src/content/2023-01-01-2023年版このブログを支える技術.md
Labels: src, content

add
  src/content/2023-01-01-2023年版このブログを支える技術.md
Labels: src, content

add
  src/content/2023-01-01-2023年版このブログを支える技術.md
Labels: src, content

add
  src/content/2023-01-01-2023年版このブログを支える技術.md
Labels: src, content

add
  src/content/2023-01-01-2023年版このブログを支える技術.md
Labels: src, content

Update 2023-01-01-2023年版このブログを支える技術.md
  src/content/2023-01-01-2023年版このブログを支える技術.md
Labels: src, content

add
  src/content/2023-01-01-2023年版このブログを支える技術.md
Labels: src, content

add
  src/config/index.json
  src/html.tsx
  src/templates/blog-post.tsx
  src/templates/index.tsx
Labels: src

add
  src/content/2023-01-01-2023年版このブログを支える技術.md
Labels: src, content

add
  src/content/2023-01-01-2023年版このブログを支える技術.md
Labels: src, content

add
  src/content/2023-01-01-2023年版このブログを支える技術.md
Labels: src, content

add
  src/content/2023-01-01-2023年版このブログを支える技術.md
Labels: src, content

csp report
  functions/src/csp-report.js
  src/components/Footer/index.tsx
  src/templates/period-summary.tsx
Labels: src, functions

csp report
  .github/workflows/previewDeploy.yml
  gatsby-config.js
Labels: none

csp report
  gatsby-config.js
Labels: none

test
  .github/workflows/deploy.yml
  __snapshots__/storybook.test.ts.snap
Labels: none

test
  src/content/2023-01-01-2023年版このブログを支える技術.md
Labels: src, content

test
  src/content/2023-01-01-2023年版このブログを支える技術.md
Labels: src, content

deploy: c11e9d43193ea1b2c7eaa43a4483921b77803fd9
  ba/index.html
Labels: none

deploy: c11e9d43193ea1b2c7eaa43a4483921b77803fd9
  lh/report.html
Labels: none

fix csp
  functions/src/csp-report.js
Labels: functions

deploy: dbfe1f361eea1dbfe5fddaa889c7e3ecc505f0ff
  ba/index.html
Labels: none

deploy: dbfe1f361eea1dbfe5fddaa889c7e3ecc505f0ff
  lh/report.html
Labels: none

fix
  __snapshots__/storybook.test.ts.snap
  src/components/Footer/index.spec.tsx
  src/components/Footer/index.tsx
  src/pages/about.tsx
Labels: src

deploy: 6eff125d92024ecb6410a81074d215112f9471a8
  ba/index.html
Labels: none

deploy: 6eff125d92024ecb6410a81074d215112f9471a8
  lh/report.html
Labels: none

test
  .github/workflows/deploy.yml
  README.md
Labels: readme

deploy: 4ef66e0c9777ae9b779254f81a745f957b2d43ce
  ba/index.html
Labels: none

deploy: 4ef66e0c9777ae9b779254f81a745f957b2d43ce
  lh/report.html
Labels: none

deploy: c11e9d43193ea1b2c7eaa43a4483921b77803fd9
  owasp/report.html
Labels: none

addtest
  __snapshots__/storybook.test.ts.snap
  src/components/Sidebar/LatestPost/index.spec.tsx
  src/components/Sidebar/LatestPost/index.tsx
Labels: src

test
  __snapshots__/storybook.test.ts.snap
  src/components/Sidebar/Archive/index.spec.tsx
  src/components/Sidebar/Archive/index.tsx
Labels: src

add test
  src/components/Sidebar/LatestPost/index.spec.tsx
Labels: src

.github/labeler.yml:

src:
  - src/**/*
content:
  - src/content/**/*
scripts:
  - scripts/**/*
functions:
  - functions/**/*
cypress:
  - cypress/**/*
terraform:
  - terraform/**/*
memlab:
  - test/memlab/**/*
readme:
  - README.md
packages:
  - package.json
  - yarn.lock
